body {
    font-family: 'Montserrat', sans-serif;
    color: #111111;
    background-color: #ffffff;
    min-width: 375px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

p {
    margin: 0;
}

a {
    text-decoration: none;
    color: #111111;
}

img {
    display: block;
}

ul {
    margin: 0;
    padding-left: 0;
}

li {
    list-style-type: none;
}

.visually-hidden {
    overflow: hidden;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
}

.container {

}




.sect-hero {
    width: 335px;
    padding: 395px 20px 20px 20px;
    border: none;
    border-radius: 20px;
    background-color: rgba(17, 17, 17, 0.60);
    background-image: 
    url("../images/backgr-img.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-bottom: 80px;
}

.container-hero {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.hero-title {
    max-width: 299px;
    color: #ffffff;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.6px;
}

.hero-btn-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 14px;
}

.hero-btn-buy {
    display: flex;
    padding: 12px 28px;
    align-items: center;
    border-radius: 100px;
    background-color: #FD9222;
    border: none;
    color: #ffffff;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.hero-btn-how {
    display: flex;
    padding: 12px 28px;
    align-items: center;
    border-radius: 100px;
    background-color: transparent;
    border: 1px solid #ffffff;
    color: #ffffff;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.hero-scroll-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 12px;
    align-items: center;

}

.scroll-p {
    color: #ffffff;
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: -0.36px;
}

.scroll-btn {
    display: flex;
    width: 28px;
    height: 28px;
    flex-shrink: 0;
    background-color: #ffffff;
    border: none;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}

.scroll-icon {
    fill: #FD9222;
}



.sect-two {
    width: 335px;
    margin-bottom: 80px;
    padding: 20px;
    background-color: #1E1823;
}

.ingr-list {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.ingr-li {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.ingr-icon {
    display: flex;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.50);
    background-color: transparent;
    padding: 16px;


}

.ingr-title {
    color: #ffffff;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: capitalize;
}

.ingr-p {
    max-width: 308px;
    color: rgba(255, 255, 255, 0.70);
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.28px;
}






@media screen and (min-width: 768px) {
    body {
        min-width: 768px;
    }
}




@media screen and (min-width: 1200px) {
    body {
        min-width: 1200px;
    }
}